#root {
    padding-bottom: 1.75rem;
}

h1 {
    color: #3e3e3e;
    font-size: 2.625rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.form__div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.625rem;
    justify-content: space-between;
}

.form_category__section {
    width: 100%;
}

.form_category__section h3 {
    color: #646464;
    font-size: 1.75rem;
}

.form_category_desc__p {
    color: #464646;
    font-size: 1.4rem;
    margin-bottom: 0.91rem;
}

.form_category_items__section {
    display: flex;
    flex-direction: column;
    gap: 1.4875rem;
    justify-content: space-between;
}

.form_inner_category__div {
    display: flex;
    flex-direction: column;
    gap: 0.525rem;
    justify-content: space-between;
}

.form_entry__p {
}

.form_entry__p label {
    font-size: 1.4rem;
    color: #5a5a5a;
}

.form_entry__p input {
    margin-top: 0.2625rem;
    padding: 0.7rem 1.05rem 0.7rem 1.05rem;
    font-size: 1.65rem;
    border: 0;
    color: #1c1c1c;
}

.form_entry__p input[type='checkbox'] {
    margin: 0;
    padding: 0;
}

.action_buttons__div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#save_config__button {
    width: 19.25rem;
    height: 7rem;
    font-size: 1.4rem;
}

#reset_config__button {
    font-size: 0.875rem;
    padding: 0.525rem 0.625rem;
}

.action_button_style {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: normal;
    word-wrap: break-word;
}

.action_button_style:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.action_button_style:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.action_button_style:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.action_button_style:focus {
    outline: 1px transparent;
}

.action_button_style:before {
    display: none;
}

.action_button_style::-webkit-details-marker {
    display: none;
}
