#popup {
    min-width: 14rem;
    min-height: 4.5rem;
    padding: 25px 15px;
}

#popup h2 {
    font-size: 25px;
    text-align: center;
}

#open_config__button {
    width: 7.5rem;
    height: 3.1rem;
    background: #ff0023;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    opacity: 0.8;
    display: block;
}

#open_config__button > p {
    font-size: 0.85rem;
}
